a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }

  h2 {
    text-align: center;
  }

  .haharom {
    text-align: center;
  }