body {
    background-image: url("stars.jpg");
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.kep {
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.nap {
    font-size: large;
    padding: 10px;
    width: 400px;
    height: 275px;
    text-align: justify;
  }

.bolygo {
    float: left;
    padding: 10px;
    height: 275px;
    text-align: justify;
}
